html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb( 90, 90, 90);
}

.cabecalho-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 13px 0 10px 0;
    background-color: #b64900;
    border: 4px solid rgb( 57, 57, 57);
    border-bottom: 0px;
    
}

.nome_site {
    color: rgb(41, 170, 118);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nome_site a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

.nome_site a:hover {
    text-decoration: underline;
}

.nome_site a:active {
    color: rgb(47, 49, 167);
}

.menu_cabecalho {
    display: flex;
}

.menu_cabecalho a {
    margin: 0 8px;
    padding: 5px 10px 2px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(41, 170, 118);
    border: 2px rgb( 160, 160, 160) solid;
    font-size: 85%;
}

.menu_cabecalho a:hover {
    color: rgb(85, 253, 113);
    background-color: rgb(47, 49, 167);
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.menu_cabecalho a:active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: 0s;
}

main {
    display: flex; 
    justify-content: center;
    border: rgb( 40, 40, 40) 4px solid;
    padding: 30px 0;
    height: 100%;
}

.filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.filmes a{
    margin: 10px 10px;
}

#capas {
    height: 100%;
    border: #273294a2 3px solid;
    border-radius: 10px;
    transition: 0.5s;
}

#capas:hover {
    transform: scale(1.3);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 0;
    background-color: #b64900;
    font-style: italic;
    font-size: 13px;
    color: rgb(41, 170, 118);
    letter-spacing: 0.2px;
    word-spacing: 0.6px;
    border: rgb( 57, 57, 57) 4px solid;
    border-top: 0px;
}

.menu_rodape {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px 0 10px;
}

.menu_rodape a {
    margin: 0 10px 2px;
    width: 100%;
    padding: 6px;
    border: 2px rgb( 80, 80, 80) solid;
    border-radius: 100%;
    background-color: rgb(41, 170, 118);
}

#twitter-link:hover {
    background-color: rgb( 42, 174, 255);
    /* transition: 0.6s; */
}

#instagram-link:hover {
    background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    transition: 0.6s; /*transition não suportado em gradient*/
}

#facebook-link:hover {
    background-color: rgb(59, 89, 152);
    /* transition: 0.6s; */
}

#youtube-link:hover {
    background-color: rgb(255, 0, 0);
    /* transition: 0.6s; */
}

.menu_rodape img {
    width: 25px;
}

footer p {
    margin-bottom: 5px;
}

/* Mobile */
@media(max-width: 768px) { 

    .cabecalho-principal {
        padding: 30px;
        font-size: 1.5em;
        justify-content: space-between;
    }

    .nome_site {
        font-size: 1.5em;
    }

    .filmes {
        justify-content: space-evenly;
        align-items: center;
        flex: 50%;
    }

    .filmes a {
        flex: 40%;
        text-align: center;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 1em;
    }

    .menu_rodape a {
        width: 25px;
        margin: 0 5px 10px;
    }
}