body {
    background-color: rgb(21, 250, 242);
}

h1 {
    text-align:center ;
    font-size: 42px ;
    color: rgb(204, 28, 63);
}

#foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 450px;
    position: static;
}

p {
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    display: block;
    box-sizing: content-box;
}

#p1 {
        margin-top: 35px;
        padding-bottom: 15px;
    }